<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GeekyMacet</title>
        <link rel="icon" href="static/resources/club_logo.png">
        <link rel="stylesheet" href="../static/styles/styles.css">
    </head>

    <body>
        <!-- Scrolling Bar -->
        <div class="scrolling-bar">
            <p>Welcome to the GeekyMacet</p>
        </div>
        <!-- Navbar -->
        <nav>
            <div id="menuToggle">
                <input type="checkbox" />
                <span></span>
                <span></span>
                <span></span>
                <ul id="menu">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="register.html">Register User</a></li>
                    <li><a href="verify.html">Verify User</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
            <ul>
                <li><img src="static/resources/club_logo.png" alt="Club Logo"
                        id="college-logo"></li>
                <li><a href="index.html" class="navm">Home</a></li>
                <li><a href="register.html" class="navm">Register
                        User</a></li>
                <li><a href="verify.html" class="navm">Verify
                        User</a></li>
                <li><a href="contact.html" class="navm">Contact</a></li>
                <li><img src="static/resources/macet_logo.png" alt="College Logo"
                        id="club-logo"></li>
            </ul>
        </nav>
        <!-- Hero Section -->
        <header class="header-content">
            <div class="text-content">
                <h1>GeekyMacet</h1>
                <p>"random text"</p>

                <div class="button-container">
                    <a href="verify.html" class="button">More about us..</a>
                </div>
            </div>
            <img src="../static/resources/background.gif" alt="AI Logo" class="ai-logo">
        </header>

        <div class="socials" id="contact">
            <a href="https://github.com/parazeeknova"
                class="social-button github"><img src="static/resources/github.png"
                    alt="GitHub"></a>
            <a href="https://linkedin.com/in/hashk"
                class="social-button linkedin"><img src="static/resources/linkedin.png"
                    alt="LinkedIn"></a>
            <a href="https://instagram.com/hashcodes_"
                class="social-button instagram"><img
                    src="../static/resources/instagram.png" alt="Instagram"></a>
            <a href="https://discord.com/invite/parazeeknova"
                class="social-button discord"><img src="static/resources/discord.png"
                    alt="Discord"></a>
        </div>

        <!-- Footer -->
        <footer>
            <p align="center"><b>GeekyMacet - Code Together Grow
                    Together</b></p>
            <br />
            <p align="center">Made with 💖 by <a
                    href>Sameer &
                    Fahad</a></p>
            <br />
            <div align="center" class="social-button-foot" id="about">
                <a href><img
                        src="static/resources/githubs.png" /></a>
                <a href><img
                        src="static/resources/linkedins.png" /></a>
                <a href><img
                        src="static/resources/twitters.png" /></a>
                <a href="_"><img
                        src="static/resources/instagrams.png" /></a>
                <a href><img
                        src="static/resources/discords.png" /></a>
            </div>
            <br />
            <p align="center">Copyright © 2024 GeekyMacet - Sameer & AL
                Fahad</p>
        </footer>
    </body>
</html>