<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="icon" href="static/resources/club_logo.png">
        <link rel="stylesheet" href="../static/styles/styles.css"> >
    </head>
    <body>
        <nav>
            <div id="menuToggle">
                <input type="checkbox" />
                <span></span>
                <span></span>
                <span></span>
                <ul id="menu">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="register.html">Register User</a></li>
                    <li><a href="verify.html">Verify User</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
            <ul>
                <li><img src="../static/resources/club_logo.png" alt="Club Logo"
                        id="college-logo"></li>
                <li><a href="../index.html" class="navm">Home</a></li>
                <li><a href="register.html" class="navm">Register
                        User</a></li>
                <li><a href="verify.html" class="navm">Verify
                        User</a></li>
                <li><a href="contact.html" class="navm">Contact</a></li>
                <li><img src="../static/resources/macet_logo.png" alt="College Logo"
                        id="club-logo"></li>
            </ul>
        </nav>
        <h1>verify page</h1>
        <div id="qr-reader" style="display: none;">
            <video id="camera-stream" width="300" height="300" autoplay></video>
            <button id="stop-camera">Stop Camera</button>
        </div>
        
        <button id="start-camera">Scan QR Code</button>
        <br><br>
        <input type="file" id="upload-image" accept="image/*">
        <script src="https://unpkg.com/html5-qrcode/minified/html5-qrcode.min.js"></script>
        <script src="../static/verify.js"></script>
    </body>
</html>