<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="icon" href="../resources/club_logo.png">
        <link rel="stylesheet" href="../styles.css">
    </head>
    <body>
        <nav>
            <div id="menuToggle">
                <input type="checkbox" />
                <span></span>
                <span></span>
                <span></span>
                <ul id="menu">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="register.html">Register User</a></li>
                    <li><a href="verify.html">Verify User</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
            <ul>
                <li><img src="../resources/club_logo.png" alt="Club Logo"
                        id="college-logo"></li>
                <li><a href="../index.html" class="navm">Home</a></li>
                <li><a href="register.html" class="navm">Register
                        User</a></li>
                <li><a href="verify.html" class="navm">Verify
                        User</a></li>
                <li><a href="contact.html" class="navm">Contact</a></li>
                <li><img src="../resources/macet_logo.png" alt="College Logo"
                        id="club-logo"></li>
            </ul>
        </nav>
        <h1>verify page</h1>
    </body>
</html>